@font-face {
    font-family: sf-pro;
    src: url('./fonts/SF-Pro.ttf');
}

@font-face {
    font-family: sf-pro-italic;
    src: url('./fonts/SF-Pro-Italic.ttf');
}

@font-face {
    font-family: zapfDingbats;
    src: url('./fonts/ZapfDingbats.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sf-pro;
}

body {
    overflow: hidden;
}

:root {
    --form-container-width: 90vw;
    --column-height: 55vw;
    --btn-container-height: 30vw;
    --EASL-presentation-height: 35vw;
}

.hidden {
    display: none;
}

.launch-UI {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.launch-UI-title {
    font-size: 2rem;
    color: white;
}

.resume-btn {
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;

}

.resume-btn-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restart-btn {
    color: white;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

/* main */

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 40, 40, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 0 0;
    transform: scale(0.8vw);
}

.form-container {
    position: relative;
    width: var(--form-container-width);
    max-width: 1600px;
    height: var(--column-height);
    max-height: 900px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

/* Right Column Styling */
.home-btn {
    position: absolute;
    z-index: 99;
    top: 0vw;
    right: 24vw;
    background-color: transparent;
    color: white;
    border-Style: none;
    margin-top: 4vw;
    margin-left: 3vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.right-column {
    position: relative;
    background-image: url("./image/right-column-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: var(--column-height);
    max-height: 900px;
    width: 30vw;
    max-width: 680px;
}

.single-btn-container {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin-top: calc(min(2vw, 15px));
    margin-bottom: calc(min(2vw, 15px));
}

.right-column-btn {
    cursor: pointer;
    text-align: left;
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
    border: none;
    margin-left: 2vw;
    width: 20vw;
}

.PBC-form-btn-description {
    font-size: 1vw;
    margin-top: 0.5vw;
}

.btn-arrow {
    background-image: url('./image/btn-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 4vw;
    height: 4vw;
}

.btn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: calc(min(15vw, 150px));
    margin-right: 3vw;
    height: var(--btn-container-height);
    width: auto;
}

.correct-answer {
    position: relative;
    font-size: calc(min(1.5vw, 1.5rem));
    height: calc(min(45vw, 725px));
    width: calc(min(25vw, 400px));
    margin-top: calc(min(10vw, 150px));
    margin-left: calc(min(2vw, 50px));
    color: white;
}

.correct-answer div {
    margin-top: 2vw;
}

.correct-asnwer-definition {
    position: absolute;
    bottom: 0;
    font-size: calc(min(0.8vw, 0.8rem));
}

.home-left-column {
    background-image: url("./image/home-page-left-column.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: var(--column-height);
    max-height: 900px;
    width: 50vw;
}

.about-left-column {
    position: relative;
}

.company-logo {
    background-image: url('./image/company-logo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vw;
    width: 20vw;
}

.about-us-text {
    color: rgb(4, 34, 89);
    font-size: calc(min(1.8vw, 1.5rem));
    line-height: calc(min(3.5vw, 50px));
    margin-left: 5vw;
    letter-spacing: 0.05rem;
}

.learn-more-container {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: calc(min(1.8vw, 1.5rem));
    bottom: 4vw;
    margin-left: 5vw;
}

.learn-more-link {
    color: rgba(255, 0, 0);
}

.learn-more-arrow {
    background-image: url('./image/about/about-arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: calc(min(2vw, 2rem));
    width: calc(min(2vw, 2rem));
}

.EASL-presentations {
    width: 90vw;
    height: var(--column-height);
    color: rgb(4, 34, 89);
}


.EASL-presentation-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;
    height: 37vw;
    max-height: 600px;
}

.presentation-title {
    font-size: calc(min(2vw, 2rem));
    margin-left: 2vw;
}

.EASL-left {
    background-image: url('./image/EASL/left.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 37vw;
    max-height: 600px;
    width: calc(var(--form-container-width) / 3);

}

.EASL-middle {
    background-image: url('./image/EASL/middle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 37vw;
    max-height: 600px;
    width: calc(var(--form-container-width) / 3);
}

.EASL-right {
    background-image: url('./image/EASL/right.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 37vw;
    max-height: 600px;
    width: calc(var(--form-container-width) / 3);
}

.clinical-trials {
    width: var(--form-container-width);
    height: var(--column-height);
    color: rgb(4, 34, 89);
    font-size: calc(min(2vw, 2rem));
}

.clinical-trials-header {
    margin-left: 4vw;
}

.clinical-text-box-container {
    height: 25vw;
    width: var(--form-container-width);
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
}

.clinical-text-box {
    width: 45%;
    height: 22vw;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1vw;
}

.clinical-text-box div {
    margin: 2vw 0;
    text-decoration: none;
}

.clinical-text-box div a {
    color: inherit;
}

.clinical-footer {
    margin-left: 3vw;
}

.clinical-footer button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
}

.PBC-form-container {
    position: relative;
}

.PBC-form {
    position: relative;
    height: var(--column-height);
    max-height: 900px;
    width: 60vw;
    max-width: 1000px;
    color: rgb(4, 34, 89);
    font-size: calc(min(2vw, 2rem));
}

.question-container {
    margin-top: calc(min(2vw, 50px));
    margin-left: calc(min(4vw, 100px));
}

.question {
    font-size: calc(min(2vw, 2rem));
}

.description {
    line-height: calc(min(3vw, 50px));
    margin-top: calc(min(1vw, 20px));
}

.form-options-header {
    margin-top: calc(min(5vw, 80px));
    margin-bottom: calc(min(5vw, 80px));
}

.options-container {
    width: 50vw;
}

.radio-container {
    display: flex;
    align-items: center;
    margin-top: calc(min(2vw, 40px));
    margin-bottom: calc(min(2vw, 40px));
}

.radio-btn {
    width: calc(min(2vw, 2rem));
    height: calc(min(2vw, 2rem));
    margin-right: calc(min(1vw, 20px));
}

.pbc-select {
    width: 40vw;
    text-align: center;
    color: gray;
    font-size: calc(min(1.5vw, 1.5rem));
    outline: none;
    margin-top: 2vw;
}

.form-arrow-btn {
    position: absolute;
    right: 4vw;
    bottom: 5vw;
    background-image: url('./image/PBC-form/form-arrow.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 5vw;
    height: 5vw;
}

.question-header {
    font-size: calc(min(1.5vw, 1rem));
    margin-bottom: calc(min(2vw, 20px));
}

.thank-you-note {
    color: rgb(4, 34, 89);
    font-size: calc(min(3vw, 3rem));
    position: absolute;
    top: 20vw;
    left: 5vw;
}

.forward-backward-container {
    position: absolute;
    z-index: 99;
    width: 9vw;
    bottom: 0;
    right: 0;
}

.form-forward-btn {
    background-image: url('./image/PBC-form/forward-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}

.form-backward-btn {
    background-image: url('./image/PBC-form/forward-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    transform: rotatey(180deg);
}

.request-info-container {
    position: relative;
    height: var(--column-height);
    max-height: 900px;
    width: 60vw;
    max-width: 1000px;
    color: rgb(4, 34, 89);
    font-size: calc(min(2vw, 2rem));
}

.request-info-form {
    width: 90%;
}

.request-info-header {
    display: flex;
    align-items: center;
}

.request-info-title {
    margin-left: 10vw;
}

.info-requested {
    margin-top: 3vw;
    margin-left: 2vw;
}

.info-requested-textarea {
    width: 45vw;
    height: 20vw;
    border-color: rgb(4, 34, 89);
    margin-top: 2vw;
    font-size: inherit;
    outline: none;
}

.request-info-input {
    width: 40vw;
    margin-top: 2vw;
    font-size: calc(min(2vw, 2rem));
    outline: none;
    border-color: rgb(4, 34, 89);
    color: rgb(4, 34, 89);
    border-width: 2px;
}

.info-arrow-btn {
    position: absolute;
    right: 4vw;
    bottom: 5vw;
    background-image: url('./image/PBC-form/form-arrow.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 5vw;
    height: 5vw;
}

.info-thank-you {
    color: rgb(4, 34, 89);
    font-size: calc(min(3vw, 3rem));
    position: absolute;
    top: 20vw;
    left: 5vw;
}

.info-forward-backward {
    position: absolute;
    z-index: 99;
    width: 9vw;
    bottom: 0;
    right: 0;
}

.info-forward-btn {
    background-image: url('./image/PBC-form/forward-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
}

.info-backward-btn {
    background-image: url('./image/PBC-form/forward-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    transform: rotatey(180deg);
}